In [22]:
import pandas as pd

In [23]:
df_inflation = pd.read_csv('../기대인플레이션율_전국__월__20240718201937.csv', encoding='cp949')
df_inflation

          시점  기대인플레이션율
0    2007.01       3.0
1    2007.02       2.9
2    2007.03       3.0
3    2007.04       2.9
4    2007.05       2.9
..       ...       ...
205  2024.02       3.0
206  2024.03       3.2
207  2024.04       3.1
208  2024.05       3.2
209  2024.06       3.0

[210 rows x 2 columns]

In [24]:
df_inflation[df_inflation['시점'] == 2017.10]

         시점  기대인플레이션율
129  2017.1       2.6

In [25]:
df_inflation['계약년월'] = df_inflation['시점'].astype('str').map(lambda x : x[:4]) + df_inflation['시점'].astype('str').map(lambda x : '10' if x[5:] == '1' else x[5:])
df_inflation['계약년월'] = df_inflation['계약년월'].astype('int32')
df_inflation.drop(columns='시점', inplace=True)
df_inflation.head(20)

    기대인플레이션율    계약년월
0        3.0  200701
1        2.9  200702
2        3.0  200703
3        2.9  200704
4        2.9  200705
5        2.8  200706
6        2.9  200707
7        2.8  200708
8        2.8  200709
9        2.9  200710
10       3.0  200711
11       3.0  200712
12       3.2  200801
13       3.3  200802
14       3.5  200803
15       3.4  200804
16       3.8  200805
17       4.1  200806
18       4.4  200807
19       4.2  200808

In [27]:
df_inflation.to_csv('기대인플레이션율.csv', index=False, encoding='cp949')